@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  max-width: 1200px;
  margin: 0 auto;
  /* text-align: center; */
  background-color: rgb(30, 33, 68);
  color: white;
  padding-top: 3rem;
}